$accent-color: #404bbf;
$iris-color: #4d5ae5;
$cloud-color: #f4f4fd;
$primary-text-color-theme-dark: #ffffff;
$title-color: #2e2f42;
$description-color: #434455;
$main-background-color: #ffffff;
$border-button: #e7e9fc;
$icons-color: #8e8f99;
